.column-box {
  display: flex;
  flex: 1;
  gap: 5px;
  overflow: hidden;
  .column-item {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}
.flex-1 {
  flex: 1;
}
.toolbar {
  background-color: #f2f2f2;
  line-height: 1;
  padding: 10px;
}
.tree-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  .toolbar {
    padding: 12px 10px;
  }
  .tree-container {
    flex: 1;
    overflow: auto;
    .el-tree {
      font-size: 12px;
      height: 100%;
      .tree-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .button-box {
          .el-button + .el-button {
            margin-left: 3px;
          }
        }
      }
    }
  }
}
